/* Generics */
*{
    margin: 0;
}

/* Utilities */

:root{
    --space:20px;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-direction: row;
    min-height: 50px;
}

.brd-bl{
    border: 2px dashed black;

}

/* header */

header{
    background-color: pink;
    min-height: 150px;
}

/* header top */

.main-header{
    padding: var(--space);
    min-height: 30px;
    background-color: blueviolet;
}

.logo{
    width: 20%;
    background-color: bisque;
    justify-content: flex-start;
    align-items: center;
    
    
}

.nav-links{
    width: 60%;
    background-color: bisque;
    justify-content: center;
    align-items: center;
    
}

.login{
    width: 20%;
    background-color: bisque;
    justify-content: flex-end;
    align-items: center;

}

/* header main topic */

.secondary-header{
    justify-content: center;
    padding: var(--space);  
}

.main-topic{
    flex-basis: 80%;
    min-height: 250px;
    background-color: darkslategrey;
}